* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   width: 100%;
   background-color: rgb(248, 250, 252);
   position: relative;
}
img {
   height: 100px;
   width: 120px;
   margin-right: 15px;
}
header {
   background-color: rgb(1, 2, 2);
   position: fixed;
   width: 18%;
   height: 120vh;
   display: flex;
   flex-direction: column;
}
header .navbar li {
   list-style: none;
   padding: 10px 5px;
   margin: 20px 0px;
   transition: 0.5s ease;
}
header .navbar li a {
   text-decoration: none;
   padding: 15px 40% 15px 5px;
   font-size: 25px;
   font-weight: 300px;
   color: rgb(245, 243, 243);
   transition: 0.3s ease;
}
header .navbar li a:hover,
header .navbar li a.active {
   border-left: 4px solid rgb(211, 189, 189);
   background-color: rgb(21, 21, 228);
   border-radius: 0px 15px 15px 0px;
   cursor: pointer;
}
header .navbar li:hover a {
   color: rgb(86, 211, 211);
}

a.logout {
   text-decoration: none;
   font-size: 20px;
   margin: 200px 0 0px 30px;
   width: 30%;
   background-color: aliceblue;
   padding: 10px;
   border-radius: 15px;
   font-weight: 300px;
   color: rgb(6, 6, 6);
}
main {
   position: absolute;
   top: 10%;
   left: 20%;
}
.head{
   text-align: end;
   padding: 50px 80px 0px 0px;
   font-size: 25px;
}
.grid-container {
   margin: 10vh 7vw;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 67vw;
}

a.count-item {
   text-decoration: none;
   color: black;
   margin: 20vh 5vw;
   padding: 10px;
   border-radius: 25px;
   align-items: center;
   border: 1px solid black;
   cursor: pointer;
}

i .fa-solid {
   padding: 5px;
   color: black;
}

.userdata{
   height: 100%;
   width: 110%;
   margin: 10px;
   padding: 25px;
   background-color: rgb(72, 88, 76);
   border-radius: 10px;
}
.userdata h1 {
   text-align: center;
   text-transform: capitalize;
   margin: 25px;
}
.userdata table {
   background-color: rgb(130, 214, 120);
   margin: 25px;
   
}
.userdata table th {
   text-align: center;
   color: rgb(230, 236, 236);
   background-color: rgb(10, 8, 8);
   font-size: 26px;
   padding: 10px;
   width: 5%;
}
.userdata table td,
.userdata table td a {
   text-decoration: none;
   padding: 5px 0px;
   text-align: center;
   font-size: 25px;
}
.update {
   display: inline;
   background-color: greenyellow;
   color: black;
   padding: 10px;
   margin: 5px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}
.delete {
   display: inline;
   background-color: rgb(244, 44, 4);
   color: rgb(251, 249, 249);
   padding: 10px;
   margin: 5px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}

#add-update{
   height: 100%;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.updatebox,
.add{
   background-color: rgb(73, 103, 87);
   display: grid;
   place-items: left;
   justify-content: space-between;
   margin: 30px;
   padding: 20px;
   border: 1px solid black;
   box-shadow: 10px 10px rgb(121, 139, 104);
   border-radius: 15px;
}
h1.addtitle,
h1.updatetitle{
   margin: 12px;
   text-align: center;
}
.box-content{
   display: flex;
   align-items: center;
   justify-content: center;
}
.con{
   display: block;
   width: 100%;
}
#g_id{
   width: 23%;
   padding: 7.5px;
   margin: 5px;
   border-radius: 10px;
}
.select-container{
   display: flex;
   align-items: start;
   justify-content: space-between;
   
}
select#type,
select#category,
select#pricerange{
   padding: 5px;
   margin: 5px 50px 0 5px;
   
}
input#gname,
input#glink.link,
input#gprice.price{
   width: 50%;
   margin: 10px 0;
   padding: 5px;
   border-radius: 5px;
   background-color: rgb(136, 218, 218);
}

input#imageone.image,
input#gimage.image,
input#imagetwo.image,
input#rating.rating{
   width: 75%;
   margin: 5px 0;
   border-radius: 5px;

}

textarea#gdis,
textarea#gspecification,
textarea#gcomprasion{
   font-size: 15px;
   background-color: rgb(136, 218, 218);
   color: black;
   border-radius: 12px;
   margin: 10px 0 10px 0;
   padding: 5px;
}
input#submit.submit,
input#update-submit.submit{
   width: 20%;
   height: 30px;
   box-shadow: 2px 2px 2px gray;
   background-color: aliceblue;
   border: none;
   color: blue;
}
/* gadget data */
.gadgetdata{
   width: 85%;
   margin: 10px 0 10px 100px;
   background-color: rgb(72, 88, 76);
   padding: 10px 10px 30px 10px ;
   border-radius: 15px;
   /* border:1px solid black; */
}
.table-content{
   text-align: center;
   text-transform: capitalize;
}
.table-content table{
   border-radius: 15px;
   margin: 10px 10px 25px 10px;
   /* border: 1px solid black; */
   background-color: aqua;
   font-size: 20px;
   text-overflow: clip;
}
.table-content table th{
   padding: 5px;
   background-color: black;
   color: aliceblue;
}
.table-content table td{
   padding: 5px;
   text-overflow: hidden;
}
a.add-btn{
   border: 1px solid black;
   margin: 100px 10px 10px 10px;
   padding: 15px;
   background-color: blue;
   border-radius: 25px;
   color: aliceblue;
   text-decoration: none;
}

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);
