* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}
html {
   height: 100%;
}

body {
   position: relative;
   background-color: #f5f4f4;
   background-size: cover;
   background-repeat: no-repeat;
   min-height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
}
header {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: left;
   padding: 0px 20px;
   background-color: rgb(41, 184, 227);
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
   position: sticky;
   top: 0;
   left: 0;
   width: 100%;
   opacity: 0.75;
   overflow: hidden;
   z-index: 999;
}

img {
   height: 75px;
   width: 100px;
}
.navbar {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
}
.navbar li {
   list-style: none;
   padding: 0 20px;
   position: relative;
}
.navbar li a {
   text-decoration: none;
   font-size: 20px;
   font-weight: 600;
   color: black;
   transition: 0.5s ease;
}
.navbar li a:hover,
.navbar li a.active {
   color: rgb(5, 5, 56);
}
.navbar li a.active::after,
.navbar li a:hover::after {
   content: "";
   width: 30%;
   height: 2px;
   background-color: rgb(11, 11, 58);
   position: absolute;
   bottom: -4px;
   left: 20px;
}
#mobile {
   display: none;
}
#close {
   display: none;
   align-items: center;
}
button#modal-btn.login-btn {
   margin-left: 4vw;
   background-color: white;
   width: 15%;
   padding: 0.1vw;
   font-size: 1rem;
   border-radius: 25px;
}
input#search.search-bar {
   width: 300px;
   margin: 10px 17vw 0 0;
   padding: 10px 0px 10px 30px;
   font-size: 16px;
   border: 1px solid #f8f5f5;
   border-radius: 3rem;
   box-sizing: border-box;
}
input#search.search-bars {
   width: 300px;
   margin: 22px 7vw 0 0;
   padding: 10px 0px 10px 30px;
   font-size: 16px;
   border: 1px solid #080808;
   border-radius: 3rem;
   box-sizing: border-box;
}
i.fa-magnifying-glass {
   color: #000;
   position: absolute;
   right: 45vw;
   top: 39px;
}
.result {
   display: grid;
   place-items: center;
   margin: 1rem 0 1rem 0;
}
.searchcontainer {
   margin: 7vh 0 0 7vw;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
   grid-gap: 1vw;
   width: 85.97vw;
}
.search-grid-item {
   background-color: white;
   color: #082465;
   text-decoration: none;
   font-size: 1rem;
   border-radius: 15px;
   text-align: center;
   padding: 1vw;
   margin: 0vh 0vw 0.7vh 0vw;
   box-shadow: 0px 0px 5px 0px rgba(163, 158, 163, 1);
}

.modal {
   position: relative;
   display: none;
   position: fixed;
   z-index: 999;
   left: 0;
   top: 0;
   height: 100%;
   width: 90%;
   overflow: auto;
   color: #35a8e6;
}
.modal form {
   color: #16b7b4;
}

i.fa-xmark,
i#xmark.fa-xmark {
   color: #ccc;
   position: relative;
   top: -4vh;
   left: 30vw;
   font-size: 30px;
   cursor: pointer;
}
i#xmark.fa-xmark {
   position: relative;
   top: -13vh;
   left: 30vw;
}

.container {
   position: relative;
}

.container input {
   width: 100%;
   padding: 2vh 1vw 2vh 2vw;
   outline: none;
   border: none;
   font-size: 1.2rem;
   margin-bottom: 25px;
   border-radius: 25px;
   background-color: white;
}
.container i {
   position: absolute;
   top: 1.2rem;
   left: 0.7rem;
   font-size: 1.5rem;
}

form.login-form {
   background-color: rgb(0, 195, 255);
   position: fixed;
   top: 25vh;
   left: 32.1vw;
   width: 35%;
   height: 47vh;
   padding: 50px;
   border-radius: 25px;
}

.checkbox-login {
   position: absolute;
   margin-top: -2.5vh;
   width: 1vw;
   height: 3vh;
   cursor: pointer;
}

.show-password {
   position: absolute;
   margin-top: -1.7vh;
   margin-left: 1.35vw;
   color: rgb(230, 230, 230);
   font-size: 0.77rem;
}

.submit-login {
   width: 50%;
   padding: 0.67rem;
   margin: 5vh 7vw;
   border: none;
   border-radius: 15px;
   background-color: rgb(93, 60, 215);
   color: rgb(255, 254, 255);
   font-size: 1.25rem;
   font-weight: 500;
   cursor: pointer;
   transition: 1.2s;
}
.submit-login:hover {
   transform: scale(1.2);
   color: #f7f8f8;
}
#username.container {
   text-align: center;
   color: #000;
   margin: 15px 0px;
   font-size: 20px;
   font-weight: 300;
}
.logout a {
   align-items: center;
   border: 1px solid black;
   text-decoration: none;
   color: red;
   margin-top: 15px;
   padding: 10px 15px;
   font-size: 15px;
   background-color: white;
   border-radius: 15px;
}

.title {
   margin-top: 10vh;
   margin-left: 7vw;
   font-weight: 500;
   font-size: 1.7rem;
   color: #14a3f6;
}
.gadget-grid-container {
   margin-top: 5vh;
   margin-left: 7vw;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(45vw, 1fr));
   grid-gap: 1vw;
   width: 80%;
}
a.gadget-grid-item {
   position: relative;
   background-color: white;
   color: #082465;
   padding: 12vh;
   text-decoration: none;
   font-size: 1rem;
   border-radius: 15px;
   box-shadow: 0px 0px 5px 0px rgba(163, 158, 163, 1);
}
.gadget-name {
   position: absolute;
   top: 35px;
   left: 125px;
   font-size: 30px;
}
p.gadget-price {
   position: absolute;
   top: 65px;
   left: 125px;
   font-size: 20px;
   padding: 10px 0 0 0;
}
img.gadget-img {
   height: 100px;
   width: 100px;
   position: absolute;
   top: 30px;
   left: 10px;
}

main {
   position: relative;
}
#hero {
   position: relative;
   max-width: 100vw;
   max-height: 100vh;
}
.background1 {
   height: 92vh;
   width: 100%;
   background-size: cover;
}
.cont-text {
   position: absolute;
   top: 25%;
   left: 0%;
   padding: 0 80px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
}
.signup {
   position: absolute;
   top: 100%;
   left: 20%;
   height: 40px;
   width: 100px;
   border-radius: 55px 0;
   background-color: transparent;
   cursor: pointer;
   font-size: 15px;
}
.signup:hover {
   transform: scale(1.2);
}
.signup a {
   text-decoration: none;
   color: black;
}

/* silder */
#slider {
   position: relative;
   overflow: hidden;
   padding: 20px;
}
.product-category {
   font-size: 30px;
   font-weight: 700;
   margin-top: 100px;
   /* margin-bottom: 10px; */
   text-transform: capitalize;
   text-align: center;
}
.arrow {
   font-size: 50px;
}
.pre-btn,
.nxt-btn {
   position: absolute;
   top: 0;
   border: none;
   width: 50px;
   height: 55%;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   z-index: 8;
}
.pre-btn {
   position: absolute;
   top: 210px;
   left: 0;
   transform: rotate(180deg);
}

.nxt-btn {
   position: absolute;
   top: 210px;
   right: 0;
}

.pre-btn span,
.nxt-btn span {
   opacity: 0.2;
}

.pre-btn:hover span,
.nxt-btn:hover span {
   opacity: 1;
}
.product-details {
   width: 100%;
   background-color: #f9f6f6;
   margin-top: 35px;
   padding: 30px 0px;
   display: flex;
   overflow: auto;
   scroll-behavior: smooth;
}

.product-details::-webkit-scrollbar {
   display: none;
}

.product-card {
   flex: 0;
   width: 15%;
   height: 75%;
   border-radius: 15px;
   margin: 0px 70px;
   padding: 0px 10px 10px 10px;
   box-shadow: 2px 2px 3px rgb(26, 20, 20);
   background-color: rgb(208, 208, 224);
   transition: transform 0.5s;
}
.product-card:hover {
   box-shadow: #605050;
   transform: scale(1.1);
}
.product-image {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
}
.product-image img {
   height: 200px;
   width: 200px;
}

.product-thumb {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.product-info {
   text-align: start;
   padding: 0px 5px;
}

.product-brand {
   text-transform: uppercase;
}

.stars i {
   font-size: 12px;
   color: yellow;
}
.product-short-description {
   width: 100%;
   height: auto;
   line-height: 20px;
   overflow: hidden;
   text-transform: capitalize;
   margin: 2px 0;
}

.price {
   color: rgb(58, 49, 37);
   font-weight: 900;
   font-size: 20px;
}

.actual-price {
   padding-top: 7px;
   color: red;
   opacity: 0.5;
   text-decoration: line-through;
}

/* latest */
#newarival h2,
#newarival p {
   padding: 5px 200px;
   text-align: left;
}
#newarival .detailes {
   display: flex;
   align-items: center;
   justify-content: left;
   width: 100%;
   padding: 10px 10px;
   margin: 10px 60px;
   border: 1px solid black;
   border-radius: 20px;
   cursor: pointer;
   box-shadow: 2px 2px 2px rgb(58, 49, 37);
}
#newarival .detailes:hover {
   transform: scale(1.02);
   box-shadow: 2px 2px 2px rgb(58, 49, 48);
}
#newarival .new-container {
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: left;
   flex-wrap: wrap;
   width: 65%;
   padding: 0px 0px 0px 0px;
   transition: transform 0.5s;
}
#newarival .new-container .pro-image {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 200px;
   height: 100%;
}

/* brand  */
.brand1 {
   font-size: 2.3rem;
   font-weight: 1000;
   margin-top: 10vh;
   margin-left: 6vw;
   text-align: center;
}
.container-brands {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   padding: 15px 55px 30px 55px;
   column-gap: 1vw;
   width: 100%;
   height: 30vh;
}
.item-brands {
   width: 20vh;
   transition: transform 0.35s;
}
.item-brands:hover {
   cursor: pointer;
   transform: scale(1.2);
}
.image-brands {
   height: 90px;
   width: 90px;
}
footer {
   display: block;
   margin-top: auto;
   width: 100%;
   bottom: 1vh;
   background-color: rgb(44, 44, 94);
   color: #fff;
   padding: 15px 0;
   border-top-left-radius: 19px;
}
.row {
   display: flex;
   align-items: center;
   justify-content: space-around;
}
.coln h3 {
   margin-bottom: 10px;
   font-size: 1.2rem;
   font-weight: 500;
   text-transform: uppercase;
}
.coln .content {
   padding-left: 1rem;
}
li {
   text-decoration: none;
   list-style: none;
}
.coln .contact a {
   padding-left: 1rem;
}
li a {
   color: #fff;
   text-decoration: none;
}
.coln .icon {
   padding: 5px;
   color: #ccc;
}
.coln .icon:hover {
   color: blue;
   background-color: #ff7d7d;
}
@media screen and (max-width: 1200px) {
}

/* gadgets */
