* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}
html {
   height: 100%;
}

body {
   position: relative;
   background-color: #fcfafa;
   background-size: cover;
   background-repeat: no-repeat;
   min-height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
}
header {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: left;
   padding: 0px 20px;
   background-color:rgb(49, 65, 57);
   border-radius: 0 0 25px 25px;
   position: sticky;
   top: 0;
   left: 0;
   width: 100%;
   opacity: 1;
   overflow: hidden;
   z-index: 999;
}

img {
   height: 80px;
   width: 100px;
}
.navbar {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
}
.navbar li {
   list-style: none;
   padding: 0 20px;
   position: relative;
}
.navbar li a {
   text-decoration: none;
   font-size: 20px;
   font-weight: 600;
   color: rgb(238, 237, 237);
   transition: 0.5s ease;
}
.navbar li a:hover,
.navbar li a.active {
   color: rgb(237, 237, 241);
}
.navbar li a.active::after,
.navbar li a:hover::after {
   content: "";
   width: 30%;
   height: 2px;
   background-color: rgb(254, 254, 255);
   position: absolute;
   bottom: -4px;
   left: 20px;
}
/* login-btn */
button#modal-btn.login-btn {
   position: absolute;
   top: 18%;
   left: 92%;
   height: 35px;
   width: 6%;
   font-size: 1rem;
   border-radius: 25px;
   background-color: white;
   cursor: pointer;
   font-size: 15px;
   text-transform: capitalize;
   margin: 10px 0px;
}
button#modal-btn.login-btn:hover {
   transform: scale(1.2);

}
.modal {
   position: relative;
   display: none;
   position: fixed;
   z-index: 999;
   height: 100%;
   width: 90%;
   overflow: auto;
}
.modal form {
   color: #16b7b4;
}

i.fa-xmark,
i#xmark.fa-xmark {
   color: #edebeb;
   position: relative;
   top: -1vh;
   right: -16.5vw;
   font-size: 30px;
   cursor: pointer;
}

/* search */
input#search.search-bar {
   position: absolute;
   top: 15%;
   left: 53%;
   width: 300px;
   margin: 10px 0 ;
   padding: 10px 0px 10px 30px;
   font-size: 16px;
   border: 1px solid #f8f5f5;
   border-radius: 3rem;
   box-sizing: border-box;
}
input#search.search-bars {
   width: 300px;
   margin: 22px 7vw 0 0;
   padding: 10px 0px 10px 30px;
   font-size: 16px;
   border: 1px solid #080808;
   border-radius: 3rem;
   box-sizing: border-box;
}
i.fa-magnifying-glass {
   color: #000;
   position: absolute;
   right: 45vw;
   top: 39px;
}
.result {
   display: grid;
   place-items: center;
   text-transform: capitalize;
   margin: 1rem 0 1rem 0;
}
.searchcontainer {
   margin: 7vh 0 0 25vw;
   padding: 10px;
   width: 50vw;
}
.pro_img {
   height: 110px;
   width: 110px;
   border-radius: 5px;
}
.search-item {
   position: relative;
   display: flex;
   align-items: left;
   justify-content: left;
   color: #000;
   background-color: rgb(199, 199, 200);
   width: 100%;
   text-decoration: none;
   border-radius: 15px;
   text-align: left;
   padding: 1vw;
   margin: 0vh 0vw 5vh 0vw;
}
.pro_name{
   position: absolute;
   top: 0vh;
   left: 8vw;
   margin: 1rem 2rem;
   font-size: 1.8rem;
   text-transform: capitalize;
}
.pro_price{
   position: absolute;
   top: 4.5vh;
   left: 8vw;
   margin: 1rem 2rem;
   font-size: 1.2rem;
   text-transform: capitalize;
}
.pro_ratingstar{
   position: absolute;
   top: 10.5vh;
   left: 10vw;
   height: 35px;
   width: 125px;
   border-radius: 15px;
}
/* login popup */
.container {
   position: relative;
}

.container input {
   width: 100%;
   padding: 2vh 1vw 2vh 2vw;
   outline: none;
   border: none;
   font-size: 1.2rem;
   margin-bottom: 25px;
   border-radius: 25px;
   background-color: white;
}
.container i {
   position: absolute;
   top: 1.2rem;
   left: 0.7rem;
   font-size: 1.5rem;
}

form.login-form {
   background-color: rgb(49, 65, 57);
   position: fixed;
   top: 0vh;
   right: 0vw;
   width: 20%;
   height: 47vh;
   padding: 20px;
   border-radius: 25px;
}

.checkbox-login {
   position: absolute;
   margin-top: -2.5vh;
   width: 1vw;
   height: 3vh;
   cursor: pointer;
}

.show-password {
   position: absolute;
   margin-top: -1.7vh;
   margin-left: 1.35vw;
   color: rgb(230, 230, 230);
   font-size: 0.77rem;
}

.submit-login {
   width: 50%;
   padding: 0.67rem;
   margin: 5vh 4vw;
   border: none;
   border-radius: 15px;
   background-color: rgb(93, 60, 215);
   color: rgb(255, 254, 255);
   font-size: 1.25rem;
   font-weight: 500;
   cursor: pointer;
   transition: 1.2s;
}
.submit-login:hover {
   transform: scale(1.2);
   color: #f7f8f8;
}
#username.container {
   text-align: center;
   color: #f8f3f3;
   margin: 0 0 100px 0px;
   font-size: 20px;
   font-weight: 300;
}
.user-fun{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 2rem;

}
.update-user a{
   border: 1px solid black;
   text-decoration: none;
   color: white;
   margin: 0px 100px;
   padding: 10px 15px;
   font-size: 15px;
   background-color: yellowgreen;
   border-radius: 15px;
}
.logout a {
   border: 1px solid black;
   text-decoration: none;
   color: white;
   column-gap: 150px;
   margin: 10px 100px;
   padding: 10px 15px;
   font-size: 15px;
   background-color: red;
   border-radius: 15px;
}
/* main body */
main {
   position: relative;
}
#hero {
   position: relative;
   max-width: 100vw;
   max-height: 100vh;
}
.background1 {
   height: 92vh;
   width: 100%;
   background-size: cover;
}
.cont-text {
   position: absolute;
   top: 25%;
   left: 0%;
   padding: 0 80px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   text-transform: capitalize;
}
.cont-text h3{
   color: #082465;
   font-size: 25px;
}
.cont-text h1{
   font-size: 45px;
}
.cont-text p{
   font-size: 20px;
}
/* home page */
.signup {
   position: absolute;
   top: 18%;
   left: 85%;
   height: 35px;
   width: 6%;
   font-size: 1rem;
   border-radius: 25px;
   background-color: white;
   cursor: pointer;
   font-size: 15px;
   text-transform: capitalize;
   margin: 10px 0px;
}
.signup:hover {
   transform: scale(1.2);
}
.signup a {
   text-decoration: none;
   color: black;
}
.signup:hover a{
   color: #16b7b4;
}

/* silder */
#slider {
   position: relative;
   overflow: hidden;
   padding: 20px;
}
.product-category {
   font-size: 30px;
   font-weight: 700;
   margin: 0px 40%;
   text-transform: capitalize;
   text-align: center;
   border-radius: 15px 15px 0px 0px;
   width: 20%;
   background-color: #bad2d2;
}
.product-details {
   width: 100%;
   border-radius: 15px;
   background-color: #b8d0d0;
   margin: 0px 0 15px 0;
   padding: 30px 50px 30px 770px;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: auto;
   scroll-behavior: smooth;
}

.pro-container {
   background-color: #b8d0d0;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 10px 20px 10px 20px;
   flex-wrap: nowrap;
   scroll-behavior: smooth;
}
.slider-card {
   flex: 0 0 auto;
   text-align: left;
   text-decoration: none;
   width: 12%;
   height: 75%;
   border-radius: 15px;
   margin: 0px 50px 0px 50px;
   padding: 10px 10px 10px 10px;
   box-shadow: 2px 2px 3px rgb(26, 20, 20);
   background-color: #fff;
   transition: transform 0.5s;
   border: 1px solid black;
}
.slider-card:hover {
   box-shadow: #605050;
   transform: scale(1.1);
}
.pro-img {
   margin: 5px 15px;
   padding: 5px;
   width: 200px;
   height: 200px;
}
img.ratingstar1 {
   margin: 0px 30px 0px 10px;
   width: 50%;
   height: 20%;
   border-radius: 30px;

}
.pro-name,
.ratingstar,
.pro-price{
   padding: 0px 10px 5px 10px;
   color: #000;
   text-transform: uppercase;
}

/* latest */
section#newarival{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
#newarival h1,
#newarival p {
   text-align: center;
   text-transform: capitalize;
   text-decoration: 1px solid underline blue;
   margin: 10px 50px 0px 100px;
   width: 50%;
}
.latest-container {
   margin: 5vh 7vw 10vh 5vw;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   width: 80%;
}
div.g-name {
   top: 10px;
   left: 155px;
   font-size: 30px;
}
div.g-price {
   top: 45px;
   left: 155px;
   font-size: 20px;
}
.g-img {
   position: absolute;
   top: 0px;
   left: 5px;
   margin: 10px;
   padding: 10px;
   height: 125px;
   width: 150px;
}
img.ratingstar2 {
   position: absolute;
   margin: 30px 100px 0px 120px;
   width: 12.5%;
   height: 17.5%;
   border-radius: 60px;

}

.g-name,
.g-price{
   position: absolute;
   margin: 15px;
   padding: 10px 35px 10px 20px;
   
}
.detailes {
   position: relative;
   background-color: rgb(148, 190, 223);
   color: #232426;
   padding: 10vh;
   margin: 20px 0 0 5rem;
   width: 75%;
   height: 10%;
   text-decoration: none;
   text-transform: capitalize;
   font-size: 1rem;
   border-radius: 15px;
   box-shadow: 0px 0px 5px 0px rgba(163, 158, 163, 1);
   transition: 0.5s;
}
.detailes:hover .g-img, 
.detailes:hover .g-name, 
.detailes:hover .ratingstar2, 
.detailes:hover .g-price {
   transform: scale(1.2);
}

/* brand  */
.brand1 {
   font-size: 2.3rem;
   font-weight: 1000;
   text-decoration: 3px solid underline red;
   margin-top: 10vh;
   text-align: center;
}
.container-brands {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   padding: 15px 10px 30px 10px;
   column-gap: 1vw;
   width: 100%;
   height: 30vh;
}
.image-brands {
   margin: 5px 25px 5px 25px;
   height: 100px;
   width: 100px;
   transition: transform 0.35s;
}
.image-brands:hover {
   cursor: pointer;
   transform: scale(1.2);
}
/* footer */
footer {
   display: block;
   margin-top: auto;
   width: 100%;
   background-color: rgb(16, 16, 18);
   color: #fff;
   padding: 15px 0;
   border-top-left-radius: 25px;
}
.row {
   display: flex;
   align-items: center;
   justify-content: space-around;
}
.coln h3 {
   margin-bottom: 10px;
   font-size: 1.2rem;
   font-weight: 500;
   text-transform: uppercase;
}
.coln .content {
   padding-left: 1rem;
}
li {
   text-decoration: none;
   list-style: none;
}
.coln .contact a {
   padding-left: 1rem;
}
li a {
   color: #fff;
   text-decoration: none;
}
.coln .icon {
   padding: 5px;
   color: #ccc;
}
.coln .icon:hover {
   color: blue;
   background-color: #ff7d7d;
}

/* gadgets */
.title {
   margin: 5vh 5vw 1vh 7vw;
   font-weight: 500;
   font-size: 1.7rem;
   color: #101213;
   text-decoration: 2px solid underline black;
   text-transform: capitalize;
   width: 40%;
}
.gadget-grid-container {
   margin: 0vh 5vw 10vh 5vw;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(45vw, 1fr));
   grid-gap: 2vw;
   width: 60%;
}
a.g-item {
   position: relative;
   background-color: white;
   color: #082465;
   padding: 12vh;
   text-decoration: none;
   font-size: 1rem;
   border-radius: 15px;
   box-shadow: 0px 0px 5px 0px rgba(163, 158, 163, 1);
}
div.gadget-name {
   position: absolute;
   top: 35px;
   left: 175px;
   font-size: 30px;
}
div.gadget-price {
   position: absolute;
   top: 65px;
   left: 175px;
   font-size: 20px;
   padding: 10px 0 0 0;
}
img.gadget-img {
   padding: 10px;
   height: 150px;
   width: 150px;
   position: absolute;
   top: 18px;
   left: 10px;
}
img.ratingstar3 {
   position: absolute;
   margin: 10px 30px 0px 70px;
   width: 20%;
   height: 30%;
   border-radius: 30px;

}
/* filter */
#gadget-category {
   position: sticky;
   top: 11%;
   left: 85%;
   margin: 0px 0px 0px 0px;
   border: 1px solid black;
   width: 20%;
   z-index: 1;
}
.filter{
   position: absolute;
   border: 1px solid black;
   border-radius: 0 0 0 15px;
   padding: 1rem;
}

.category-item {
   margin: 10px 0 10px 0;
   display: flex;
   align-items: center;
   padding: 0 10px 0 10px;
   text-decoration: none;
   color: black;
   cursor: pointer;
}
#filtericon{
   font-size: 35px;
   margin: 10px;
}
.category-item i {
   font-size: 30px;
   padding: 0 10px 0 10px;
   margin: 5px;

}

button.pricerange1{
   margin: 5px 10px;
   z-index: 1;
}

/* pagination */
.pagination {
   margin-top: 20px;
   text-align: center;
}

.pagination .page-link {
   display: inline-block;
   padding: 8px 16px;
   text-decoration: none;
   color: #010300;
   border: 1px solid #ddd;
   border-radius: 25px;
   margin-right: 4px;
}

.pagination .page-link.active {
   background-color: #385c1095;
   color: #fff;
}

.pagination .page-link:hover {
   background-color: #86a383;
}

.pagination .page-link:first-child {
   margin-left: 0;
}

.pagination .page-link:last-child {
   margin-right: 0;
}


/* about us */
.information{
   width: 45%;
   margin: 1rem;
   text-align: justify;
}
.about-form {
   display: block;
   margin: 10px 40px 10px 20px;
   border: 1px solid black;
   width: 20%;
   padding: 10px 10px;
   border-radius: 12px;
   color: blue;
}

.feedback {
   display: flex;
   align-items: center;
   justify-content: left;
   padding: 10px 10px;
}

#submit-btn.feedback {
   display: flex;
   align-items: center;
   justify-content: center;
}

#title-about {
   margin: 12px 24px;
   text-transform: uppercase;
}

.feed-text {
   width: 90%;
   height: 50%;
   padding: 10px;
   margin: 15px;
}

.u-name {
   padding: 5px 0px 5px 18px;
}

i#feedbackuser {
   position: absolute;
   left: 45px;
}

.map {
   position: absolute;
   left: 60%;
   top: 10%;
}