* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    place-items: center;
    margin-top: 100px;
    background-image: url(image/backgrounds/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container1 {
    width: 500px;
    padding: 15px 25px;
    display: grid;
    place-items: center;
    border-radius: 25px;
    box-shadow: 2px 2px 2px 2px #000;
   backdrop-filter: blur(5px);
   background-color: transparent;
   opacity: 2px;
}


h1 {
   text-align: center;
   margin-top: 0;
   padding: 0;
}
.reg a {
   color: rgb(9, 241, 241);
   text-decoration: none;
}
.reg a:hover {
   color: blue;
   background-color: aqua;
}
.container input {
   width: 49%;
   padding: 12px;
}
.container input {
   width: 100%;
   padding: 12px;
}
.container {
   position: relative;
}
.container i {
   position: absolute;
   top: 0.7rem;
   left: 0.5rem;
   font-size: 1.5rem;
}
.container input {
   padding: 0.8rem;
   padding-left: 2rem;
   margin-bottom: 1rem;
   border-radius: 5px;
   outline: none;
   border: none;
   background-color: transparent;
   border: 1px solid white;
   color: white;
}
input::placeholder {
   color: rgb(245, 251, 250);
}
.login-btn,
.reg-btn {
   height: 40px;
   display: grid;
   place-items: center;
}
.login-btn input,
.reg-btn input {
   height: 30px;
   width: 50%;
   color: black;
   border-radius: 15px;
   background-color: aliceblue;
   transition: 1s;
}
.login-btn input:hover,
.reg-btn input:hover {
   cursor: pointer;
   transform: scale(1.1);
   background-color: aquamarine;
   box-shadow: 2px 2px 2px #000;
}
