* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   display: grid;
   place-items: center;
   margin-top: 50px;
}
.container2,
.container1 {
   width: 500px;
   height: 75vh;
   padding: 15px 15px;
   display: grid;
   place-items: center;
   border-radius: 25px;
   box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
   backdrop-filter: blur(5px);
   background-color: rgb(147, 162, 194);
   opacity: 2px;
}
.container2{
   width: 30%;
   height: 100%;
}

h1 {
   font-size: 30px;
   font-weight: 500px;
   text-align: center;
   margin: 10px 0;
   padding: 0;
}
.container1 form {
   width: 90%;
   height: 79vh;
}
.container {
   display: flex;
   align-items: center;
}
.container input,
.container textarea,
.container select {
   width: 50%;
   padding: 0.5rem;
   padding-left: 1rem;
   margin-bottom: 1rem;
   border-radius: 5px;
   outline: none;
   background-color: rgb(12, 20, 20);
   border: 1px solid rgb(61, 53, 53);
   color: white;
}
.container label {
   width: 200px;
   font-size: 25px;
   margin-right: 10px;
}

.reg-btn {
   margin-top: 20px;
   height: 40px;
   display: grid;
   place-items: center;
}

.reg-btn input {
   height: 50px;
   width: 50%;
   color: black;
   border-radius: 15px;
   background-color: aliceblue;
   transition: 1s;
}

.reg-btn input:hover {
   cursor: pointer;
   transform: scale(1.1);
   background-color: aquamarine;
   box-shadow: 2px 2px 2px #000;
}
